*{
	font-family: Arial;
}

.todo-list-style,
.todo-input-style{
	display: grid;
	grid-template-columns: 200px 150px 100px;
	column-gap: 10px;
	row-gap: 10px;
	align-items: center;
}

.todo-input-style{
	margin-bottom: 10px;
	align-items: stretch;
}

.name-input,
.due-date-input{
    padding: 6px;
    font-size: 15px;
}

.add-btn-style,
.delete-btn-style{
	font-size: 15px;
	border: none;
	color: #fff;
	cursor: pointer;
}

.add-btn-style{
	background-color: green;
}

.delete-btn-style{
	background-color: darkred;
	padding: 10px 0;
}